{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

body {
    backgroung-color: rgb(172, 97, 242);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}